div.wrap {
  margin: 0;
  padding: 0;
  display: inline-block;
}

section {
  margin: 0;
  padding: 0;
  float: left;
  max-width: 40%;
}

section#mapArea {
  height: 400px;
  width: 600px;
}

ul#listFilter li {
  list-style: none;
  display: inline-block;
}
