div.wrap {
  margin: 0;
  padding: 0;
  display: inline-block;
}

section {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}

section#mapArea {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}

